// ============================
// Pied de page
// ============================
@use '../globals' as *;

footer {
    background-color: $color-secondary;
    color: $color-white;
    text-align: center;
    padding: $spacer;
  }
  