<p>Bonjour {{ name }},</p>
<p>Votre intervention photovoltaïque est <strong>confirmée</strong> pour le {{ date|date('d/m/Y H:i') }}.</p>
<p>À bientôt,</p>
<p>L’équipe Photovoltaïque</p>
<p><em>Ce message est généré automatiquement, merci de ne pas y répondre.</em></p>